{% load static %}
<!DOCTYPE html>
<html>
<head>
    
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static "account/base.css" %}" rel="stylesheet">
</head>

<link rel="stylesheet"
href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"> 

<body>
    
    <div id="header">
        
        <span class="logo">
            <a href="{% url 'main:index' %}">
                <img src="/static/account/nav_bar_logo.png"
                width = "220"
                height = "220" 
                alt="logo" />
            </a>

        </span>
        <br>

        {% if request.user.is_authenticated %}
        
                <ul class="menu">
                    <li {% if section == "dashboard" %}class="selected"{% endif %}>
                    <a href="{% url "dashboard" %}">My dashboard</a>
                    </li>
                </ul>
        {% if not request.user.profile.matches.exists and not request.user.profile.matched_with.exists %} 
                <ul class="menu">

                    {% comment %} <li {% if section == "people" %}class="selected"{% endif %}>
                    <a href="{% url "profile_list" %}">People</a>
                    </li> {% endcomment %}

                    <li {% if section == "like_me" %}class="selected"{% endif %}>
                        <a href=" {% url 'profile_liked_me' pk=request.user.id %}">Liked Me</a>
                    </li>

                    <li {% if section == "suggestions" %}class="selected"{% endif %}>
                        <a href="{% url "filter_profile_list" %}">Proposals</a>
                    </li>
                </ul>
                {% endif %}
            {% endif %}
                <span class="user">
                {% if request.user.is_authenticated %}
                    Hello {{ request.user.first_name }},
                    <a href="{% url "logout" %}">Logout</a>
                {% else %}
                    <a href="{% url "login" %}">Log-in</a>
                {% endif %}
        </span>
    </div>


    <div id="content">

    {% block content %}
    
    {% endblock %}
    </div>
</body>

</html>