{% extends "base.html" %}
{% block content %}

   <h3>Add Comment</h3>
    <form method="post" action="">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <button type="submit" class="btn btn-primary">Comment</button>
    </form>


    {% with comments.count as total_comments %}
        <h3 class="mt-5">
            {{ total_comments }} comment{{ total_comments|pluralize }}
        </h3>
    {% endwith %}

    {% if not chatroom.comments.all %}
        No comments yet

    {% else %}
        {% for comment in chatroom.get_comments %}
            {% include 'comment/comment.html' with comment=comment %}
        {% endfor %}
    {% endif %}

{% endblock content %}