<div class="border-0 border-start border-2 ps-2" id="{{comment.id}}">
    <div class="message-data text-right">
        <img src="{{ comment.profile.photo.url }}">
        <strong>{{comment.name}}</strong>
        {% if  comment.parent.name%} to <strong>{{comment.parent.name}}</strong>{% endif %}
        <small class="text-muted">On {{ comment.created.date }}</small>
    </div>
    <div class="border p-2 rounded">
        <div class="message my-message">{{comment.body}}</div>
    </div>
    {% for comment in comment.get_comments %}
        {% include 'comment/comment.html' with comment=comment %}
    {% endfor %}
</div>
