language: python

python:
  - 3.8

install:
  - pip install -r requirements.txt

before_script:
  - python ./timeandplace/manage.py migrate

script:
  - black ./
  - flake8 ./
  # - coverage run --source=./timeandplace/manage.py test

after_script:
  - coveralls

before_deploy: "echo 'Deploying Timenplace from Travis...'"
deploy:
  provider: elasticbeanstalk
  access_key_id: $AWS_ACCESS_KEY_ID
  secret_access_key: $AWS_SECRET
  region: "us-west-2"
  app: "timeandplace"
  env: "timeandplace-dev"
  bucket_name: "elasticbeanstalk-us-west-2-522724211121"
  on:
      branch: develop
#only_create_app_version: "true"