<!DOCTYPE html>
<html>
<body>
	<center><h1>Hello , Welcome to chat! {{request.user}}</h1></center>
	<br />
	<input type="text" id="id_message_send_input" />
	<button type="submit" id="id_message_send_button">Send Message</button>
	<br />
	<br />
	</div>
	<script>
	try {
		const chatSocket = new WebSocket("ws://" + window.location.host + "/");

		//
		chatSocket.addEventListener('open', (event) => {
			chatSocket.send('Hello Server!');
		});

		//
		chatSocket.addEventListener('error', (event) => {
			console.log('WebSocket error: ', event);
		});


		chatSocket.onopen = function (e) {
			console.log("The connection was setup successfully !");
		};
		chatSocket.onclose = function (e) {
			console.log("Something unexpected happened !");
		};
		document.querySelector("#id_message_send_input").focus();
		document.querySelector("#id_message_send_input").onkeyup = function (e) {
			if (e.keyCode == 13) {
			document.querySelector("#id_message_send_button").click();
			}
		};
		document.querySelector("#id_message_send_button").onclick = function (e) {
			var messageInput = document.querySelector(
			"#id_message_send_input"
			).value;
			chatSocket.send(JSON.stringify({ message: messageInput, username : "{{request.user.username}}"}));
		};
		chatSocket.onmessage = function (e) {
			const data = JSON.parse(e.data);
			var div = document.createElement("div");
			div.innerHTML = data.username + " : " + data.message;
			document.querySelector("#id_message_send_input").value = "";
			document.querySelector("#id_chat_item_container").appendChild(div);
		};
	} catch(e) {
		console.log("fucjk")
		console.log(e.message)
	}
	</script>
</body>
</html>
