<!-- account/templates/profile/profile.html -->
{% extends 'base.html' %}



{% block content %}

<h2>
    {{ profile.user.first_name }}, {{ profile.calc_age }}
</h2>
<h4>
    My Preferences
</h4>
<b>Gender Preference: </b> {{ profile.gender_preference }}
<!-- <br>
<b>Orientation Preference: </b> {{ profile.orientation_preference }} -->
<br>
{%if profile.age_preference_min == profile.age_preference_max %}
  <b>Age Preference: </b> {{ profile.age_preference_min }}
  <br>
{%else%}
<b>Age Preference: </b> {{ profile.age_preference_min }} to {{ profile.age_preference_max }}
<br>
{% endif %}
{%if not profile.matches.exists %}
<p>You can 
    <ul>
      <li> 
        <a href="{% url "edit_preferences" %}">Edit your preferences</a>
      </li>
    </ul>
  {% endif %}
{% endblock content %}