<!-- account/profile_list.html -->
{% extends 'base.html' %}

{% block content %}

<div class="column">

{% for profile in profiles %}

    <div class="block">
      <div class="card">
        <a href="{% url 'profile' pk=profile.user.id %}">
          <div class="card-content">
            <div class="media">
 
              <div class="media-content">
                <h3 class="title is-4">
                  {{ profile.user.first_name  }} , {{ profile.calc_age  }}
                </h3>
                <div class="media-left">
                    <figure class="image is-48x48">
                      <img src="{{ profile.photo.url }}" width="100px">
                         <!--  alt="Placeholder image"> -->
                    </figure>
                  </div>
                <p class="subtitle is-6">
                  {{ profile.proposal_time|lower }} @{{ profile.location_dropdown|lower }}
                </p>
                <br>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>

{% endfor %}

</div>

{% endblock content %}