<!-- account/templates/profile/profile.html -->
{% extends 'base.html' %}

{% block content %}


<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <h2 class="title is-2">{{ profile.user.first_name }}, {{ profile.calc_age }}</h2>
        <!--  buttons -->  
        <div class="block">
          <!-- match buttons -->  
          {% if not current_user_profile.matches.exists and not current_user_profile.matched_with.exists %}
          {%  if profile in current_user_profile.liked_by.all and profile not in current_user_profile.declines.all  %}
            <article class="message is-info">
              {% comment %} <div class="message-header">
                <button class="delete is-small" aria-label="delete"></button>
              </div> {% endcomment %}
              <div class="message-body">
                {{ profile.user.first_name }} is interested in your proposal: 
                <br>
                <br>
                <b>Time:</b> {{ current_user_profile.proposal_datetime_local }}
                <br>
                <b>Place:</b> {{ current_user_profile.location_dropdown }}
                <br>
                <br>
                Please decide if you would like to match:
              </div>
            </article>
          <form method="post">
              {% csrf_token %}
              <div class="buttons has-addons">
                <button class="button is-success" name="match" value="match">Match</button>
                <button class="button is-danger" name="match" value="decline">Decline</button>
              </div>
            </form>
          {% else %}
          <br>
          <b>Time:</b> {{ profile.proposal_datetime_local }}
          <br>
          <b>Place:</b> {{ profile.location_dropdown }}
          <br>
          <br>
          <!-- not show like hide for yourself -->
          {% if profile != current_user_profile and profile not in current_user_profile.likes.all and profile not in current_user_profile.hides.all and profile not in current_user_profile.matched_with.all and profile not in current_user_profile.matches.all %}
          <form method="post">
            {% csrf_token %}
            <div id="wrapper">
            <div class="buttons">
              <button class="button is-success" name="like" value="like">Like</button>
              <button class="button is-danger" name="like" value="hide">Hide</button>
            </div>
            </div>
          </form>
          {% endif %}
          {% endif %}
          {% endif %}
        </div>
        
        <b>Occupation:</b> {{ profile.occupation }}
        <br>    
        <b>Gender Identity: </b> {{ profile.gender_identity }}
        <br>
        <!-- <b>Sexual Orientation: </b> {{ profile.sexual_orientation }} -->

        <p><b>About me:</b> {{ profile.about_me }}</p>
        <br>

      </div>
      <div class="column">
        <img src="{{ profile.photo.url }}" width="250px">
      </div>

    </div>
  </div>
</section>





<br>

{% comment %} {%if not current_user_profile.matches.exists %}
<div class="block">
  <a href="{% url 'filter_profile_list' %}">
      <button class="button is-dark is-outlined ">
          All Profiles
      </button>
  </a>
</div>
{%endif%} {% endcomment %}

{% endblock content %}