
<!-- account/profile_list.html -->
{% extends 'base.html' %}
{% load thumbnail %}

{% block content %}

<div class="column">
  <h1 class="title is-4"> Here's everyone interested in your proposal</h1>
{% for liker in profile.liked_by.all %}
{%if liker not in profile.declines.all %}
{%if not profile.matches.exists %}
    <div class="block">
      <div class="card">
        <a href="{% url 'profile' pk=liker.user.id %}">
          <div class="card-content">
            <div class="media">
 
              <div class="media-content">
                <h3 class="title is-4">
                  {{ liker.user.first_name  }} , {{ liker.calc_age  }}
                </h3>
                <div class="media-left">
                    <div class="user">
                      <img src="{%thumbnail liker.photo '180x180' crop='smart'%}">
                         <!--  alt="Placeholder image"> -->
                      </div>
                  </div>
                  
                <p class="subtitle is-6">

                  {{ liker.proposal_time }} @{{ liker.location_dropdown }}
                </p>
                <br>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
    {% endif %}
  {% endif %}
{% endfor %}

</div>

{% endblock content %}

<style>
  img {
  border-radius: 50%;
} </style>