
<!-- account/profile_list.html -->
{% extends 'base.html' %}
{% load thumbnail %}

{% block content %}
{% for msg in messages  %}
<article class="message is-success">
	{% comment %} <div class="message-header">
		<button class="delete is-small" aria-label="delete"></button>
	</div> {% endcomment %}
	<div class="message-body">
		{{msg}}
	</div>
  </article>
{% endfor %}

{%if not request.user.profile.matches.exists and not request.user.profile.matched_with.exists and request.user.profile.warning_count < 4 %}
<h1 class="title is-2">Liked Me</h1>
<section class="main-content columns is-fullheight">

<aside class="column is-2  is-fullheight ">
<p class="menu-label is-hidden-touch">Options</p>
<ul class="menu-list">
 <li>
   <div class="navbar-item has-dropdown is-hoverable">
     <a class="navbar-link is-arrowless">
       My Account
     </a>
 <div class="navbar-dropdown is-right">
   <a class="navbar-item " href="{% url "password_change" %}">
     Change Password
   </a>
   <hr class="navbar-divider">
   <div class="buttons has-addons">
     <a href="{% url 'delete_account' %}" class="button is-danger"
     onclick="return confirm('WARNING: This will permanently delete your account and you will not be able to get it back. Do you wish to proceed?')">Delete My Account</a>
   </div>
   <style>
     #bottom {
         position: absolute;
         bottom: 5px;
         right: 5px;
     }
     p.thicker {
         font-weight: 900;
     }
   </style>
   <hr class="navbar-divider">

 </li>

 <li>
   <div class="navbar-item has-dropdown is-hoverable">
     <a class="navbar-link is-arrowless">
       My Profile
     </a>
 <div class="navbar-dropdown is-right">
   <a class="navbar-item" href="{% url 'profile' pk=user.id %}">
     Preview
   </a>
   <a class="navbar-item" href="{% url "edit" %}">
     Edit
   </a>
   <hr class="navbar-divider">

 </li>
 <li>
   <div class="navbar-item has-dropdown is-hoverable">
     <a class="navbar-link is-arrowless" >
       My Preferences
     </a>
 <div class="navbar-dropdown">
   <a class="navbar-item" href="{% url 'preferences' pk=user.id %}">
     Preview
   </a>
   <a class="navbar-item" href="{% url "edit_preferences" %}">
     Edit
   </a>
   <hr class="navbar-divider">
 </li>
 <li>
   <div class="navbar-item has-dropdown is-hoverable">
     <a class="navbar-link is-arrowless" >
       My Proposal
     </a>
 <div class="navbar-dropdown">
   <a class="navbar-item" href="{% url "edit_timenplace" %}">
     Edit
   </a>
   <hr class="navbar-divider">
 </li>
</ul>
</aside>

<div class="column">
    <h2 class="title is-4"> Here's everyone interested in your proposal</h2>
{% comment %}{% for liker in profile.liked_by.all %}{% endcomment %}
  {% for liker in liked_me %}
  {% if liker not in profile.declines.all %}
  {% if not profile.matches.exists %}
      <div class="block">
        <div class="card">
          <a href="{% url 'profile' pk=liker.user.id %}">
            <div class="card-content">
              <div class="media">
  
                <div class="media-content">
                  <h3 class="title is-4">
                    {{ liker.user.first_name  }} , {{ liker.calc_age  }}
                  </h3>
                  <div class="media-left">
                      <div class="user">
                        <img src="{%thumbnail liker.photo '180x180' crop='smart'%}">
                          <!--  alt="Placeholder image"> -->
                        </div>
                    </div>
                    
                  <p class="subtitle is-6">

                    
                  </p>
                  <br>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      {% endif %}
    {% endif %}

  {% endfor %}

  <br>
  <br>
  <br>
  <br>
  <br>
<hr>
<nav class="pagination is-centered is-rounded" role="navigation" aria-label="pagination">
	{% if profiles.has_previous %} 
	<a href="?page={{liked_me.previous_page_number}}" class="pagination-previous">Previous</a>
	{%else%}
	<!-- <a href="#" class="pagination-previous">Previous</a> -->
	{% endif %} 
	
	{% if profiles.has_next %} 
		<a href="?page={{liked_me.next_page_number}}" class="pagination-next">Next Page</a>
	{%else%}
		<!-- <a href="#" class="pagination-next">Next Page</a> -->
	{% endif %} 

	<ul class="pagination-list">
		<li>
			<a class="pagination-link is-current" aria-label="Page 46" aria-current="page">Page {{liked_me.number}} of {{liked_me.paginator.num_pages}} </a>
	
	</ul>

	
	
  </nav>
</div>
{% else %} Error: You do not have permission to view this page
  {% endif %}

{% endblock content %}

<style>
  img {
  border-radius: 50%;
} </style>