{% extends "base.html" %}
   {% block title %}Dashboard{% endblock %}
   {% block content %}
     <h1>Dashboard</h1>
     <p>Welcome to your dashboard. 
      You can 
      <ul>
        <li>
          <a href="{% url 'profile' username=request.user.username %}">Preview your profile</a>,  
        </li>
        <li> 
          <a href="{% url "edit" %}">Edit your profile</a>, or
        </li>
        <li>
          <a href="{% url "password_change" %}">Change your password</a>.</p>
        </li>
      </ul>
      
       
{% endblock %}


