{% extends "main/base.html" %}
<!--  -->
{% block content %}
<section class="landing">
  <div class="navigation">
    <a href="" class="logo">Time&Place</a>
    <span class="user">
      {% if request.user.is_authenticated %}
          <a href="{% url 'logout' %}" class="login">Logout</a>
      {% else %}
          <a href="{% url 'login' %}" class="login">Log-in</a>
      {% endif %}
    </span>
  </div>
  <h1 class="title">Set. Time&Place. Match.</h1>
  {% if request.user.is_authenticated %}
    <a href="{% url 'dashboard' %}" class="create-btn">Welcome {{ request.user.first_name }}</a>
  {% else %}
    <a href="{% url 'register' %}" class="create-btn">Create Account</a>
  {% endif %}
</section>
{% endblock content %}