{% extends "base.html" %}
   {% block title %}Dashboard{% endblock %}
   {% block content %}
     <h1 class="title is-2">Dashboard</h1>
     {% for msg in messages  %}
     <article class="message is-success">
       <div class="message-body">
         {{msg}}
       </div>
       </article>
     {% endfor %}

       
  <div class="modal">
    <div class="modal-background"></div>
    <div class="modal-content has-background-white py-5 px-5">
      <h3 class="title mb-6">Join the Club</h3>
      <h1>Edit your preferences</h1>
      <p>You can edit your preferences using the following form:</p>
      <form method="post" enctype="multipart/form-data">
      {{ preference_form.as_p }}
      {% csrf_token %}
      <p><input type="submit" value="Save changes"></p>
      </form>
      
    </div>
  </div>
  <script src="/static/account/dashboard.js"></script>
     <p>Welcome to your dashboard. 
      You can  
      <ul>
        <li>
          <a href="{% url 'profile' pk=user.id %}">Preview your profile</a>, or 
        </li>
        <li>
          <a href="{% url 'preferences' pk=user.id %}">Preview your preferences</a>,  or
        </li>
        <!-- <li> 
          <a href="{% url "edit" %}">Edit your profile</a>, or
        </li>
        <li> 
          <a href="{% url "edit_preferences" %}">Edit your preferences</a>, or
        </li> -->
        <li>
          <a href="{% url "password_change" %}">Change your password</a>.</p>
        </li>
      </ul>

      <hr>
     {%if user_profile.matches.all.exists %}
     {%for user in user_profile.matches.all %}
     <h1 class="title is-3"> Hey you are matched with  </h1>
     <h2 class="title is-3">{{user.user.first_name}}, {{user.calc_age}}</h2>
     <p><img src="{{ user.photo.url }}" width="250px"></p>
     <div class="block">
      <h3 class="title is-4">
          Proposal time : {{user_profile.proposal_time}}
          Proposal location : {{user_profile.location_dropdown}}
      </h3>
      <div class="content">
      {% endfor %}
     {% else %}
     {%if user_profile.matched_with.all.exists%}
     {%for user in user_profile.matched_with.all %}
     <h1> Hey {{user}} agreed to match with you </h1>
     <p><img src="{{ user.photo.url }}" width="250px"></p>
     <div class="block">
      <h3 class="title is-4">
          Proposal time : {{user.proposal_time}}
          Proposal location : {{user.location_dropdown}}
      </h3>
    </div>
      
      {% endfor %}
      {%endif%}
      {% endif %}



      
       
{% endblock %}


