{% extends "base.html" %}
   {% block title %}Dashboard{% endblock %}
   {% block content %}
     <h1 class="title is-2">Dashboard</h1>
     {% for msg in messages  %}
     <article class="message is-success">
       <div class="message-body">
         {{msg}}
       </div>
       </article>
     {% endfor %}

       

  </div>
  <script src="/static/account/dashboard.js"></script>
     <p>Welcome to your dashboard. 
      You can  
      <ul>
        <li>
          <a href="{% url 'profile' pk=user.id %}">Preview your profile</a>, or 
        </li>
        <li>
          <a href="{% url 'preferences' pk=user.id %}">Preview your preferences</a>,  or
        </li>
        <li> 
          <a href="{% url "edit" %}">Edit your profile</a>, or
        </li>
        <li> 
          <a href="{% url "edit_preferences" %}">Edit your preferences</a>, or
        </li> 
        <li> 
          <a href="{% url "edit_timenplace" %}">Edit your Time and Place</a>, or
        </li> 
        <li>
          <a href="{% url "password_change" %}">Change your password</a>.</p>
        </li>
      </ul>

      <br>
      

     {%if user_profile.matches.all.exists %}
     {%for user in user_profile.matches.all %}
     <h1 class="title is-3"> Hey you are matched with  </h1>
     <h2 class="title is-3">{{user.user.first_name}}, {{user.calc_age}}</h2>
     <p><img src="{{ user.photo.url }}" width="250px"></p>
     <div class="block">
      <h3 class="title is-4">
          Proposal time : {{user_profile.proposal_datetime_local}} <br>
          Proposal location : {{user_profile.location_dropdown}}
      </h3>
      <br>
      {%if feedback_available %}
      {% comment %} <h1> Feedback Available </h1> {% endcomment %}
      {% else %}
      {% comment %} <h1> Feedback not available </h1> {% endcomment %}
      <article class="message is-info">
        Once the designated proposal time passes, you will have 6 hours to submit a feedback form before your match expires. 
      </article>
      {%endif%}
      {% comment %} feedback form button {% endcomment %}
  
    
      {% endfor %}
     {% else %}
     {%if user_profile.matched_with.all.exists%}
     {%for user in user_profile.matched_with.all %}
     <h1 "title is-3" > Hey {{user}} agreed to match with you </h1>
     <p><img src="{{ user.photo.url }}" width="250px"></p>
     <div class="block">
      <h3 class="title is-4">
          Proposal time : {{user.proposal_datetime_local}}
          Proposal location : {{user.location_dropdown}}
      </h3>
     
      
      {% endfor %}
      {%endif%}
      {% endif %}

      {%if feedback_available %}
      
        <div class="block">
          <article class="message is-info">
            Your match will expire 6 hours after the designated proposal time. 
            We strongly encourage you to let us know about how the date went.
            Please click on the button below to access the match feedback form.
    
          </article>
          <a href="{% url "submitFeedback" %}">
          <div class="buttons has-addons is-centered">
            <button class="button is-link is-outlined">Feedback Form</button>
          </div>
          </a>
        </div>
      {% endif %}

      <div class="buttons has-addons">
        <a href="{% url 'delete_account' %}" class="button is-danger"
        onclick="return confirm('WARNING: This will permanently delete your account and you will not be able to get it back. Do you wish to proceed?')">Delete My Account</a>
      </div>
      <style>
        #bottom {
            position: absolute;
            bottom: 5px;
            right: 5px;
        }
        p.thicker {
            font-weight: 900;
        }
      </style>
      {%if user_profile.warning_count < 3 %}
      <div id="bottom">
        <p class="thicker">WARNING COUNT: {{user_profile.warning_count}}</p>
      </div>
      {%elif user_profile.warning_count == 3 %}
      <div id="bottom">
        <p class="thicker">WARNING COUNT: {{user_profile.warning_count}}</p>
        <p style="color:red">Beware! One more bad rating and you risk losing access to our app.</p>
      </div>
      {%else%}
      <div id="bottom">
        <p class="thicker">WARNING COUNT: {{user_profile.warning_count}}</p>
        <p style="color:red">Your account has been deactivated!</p>
      </div>
      {%endif%}
{% endblock %}


