
{% extends "base.html" %}
{% comment %} <script src="{% static 'smart-selects/admin/js/chainedfk.js' %}"></script>
<script src="{% static 'smart-selects/admin/js/chainedm2m.js' %}"></script> {% endcomment %}
{% block title %}Edit your account{% endblock %}

{% block content %}
{%if request.user.profile.warning_count < 4%}
    <h1>Edit your account</h1>
    <p>You can edit your account using the following form:</p>
    <form method="post" id = 'editProfile' data-locations-url= "{% url 'ajax_load_locations' %}" enctype="multipart/form-data">
    {% if user_form.errors %}
        {{ user_form.as_p }}
        <p>DOB when creating account:</p>{{ request.user.profile.date_of_birth}}
        {{ profile_form.as_p }}
    {% csrf_token %}
    {% else %}
        {{ user_form.as_p }}
        <p>DOB when creating account:</p>{{ request.user.profile.date_of_birth}}
        {{ profile_form.as_p }}
        {% csrf_token %}
    {% endif %}
    <br>
    <br>
    <p><input type="submit" value="Save changes" /></p>
    </form>
    </p>
{% endif %}
{% endblock %}

