{% extends "base.html" %}
   {% block title %}Log-in{% endblock %}
   {% block content %}

   {% for msg in messages  %}
   <article class="message is-success">
     {% comment %} <div class="message-header">
       <button class="delete is-small" aria-label="delete"></button>
     </div> {% endcomment %}
     <div class="message-body">
       {{msg}}
     </div>
     </article>
   {% endfor %}


     <h1>Log-in</h1>
     <p>Please, use the following form to log-in:</p>
     <form method="post">
       {{ form.as_p }}
       {% csrf_token %}
       <p><input type="submit" value="Log in"></p>
     </form>
   {% endblock %}