{% extends "main/base.html" %}
<!--  -->
{% block content %}
<section class="landing">
  <div class="navigation">
    <a href="" class="logo">TimeAndPlace</a>
    <span class="user">
      {% if request.user.is_authenticated %}
          <a href="{% url 'logout' %}" class="login">Logout</a>
      {% else %}
          <a href="{% url 'login' %}" class="login">Log-in</a>
      {% endif %}
    </span>
  </div>

  <img src="static/main/time_and_place_logo.png" style="width:675px;height:350px;" class="center">

  <h1 class="title">We let you cut to the chase</h1>
  {% if request.user.is_authenticated %}
    <a href="{% url 'dashboard' %}" class="create-btn">Welcome {{ request.user.first_name }}</a>
  {% else %}
    <a href="{% url 'register' %}" class="create-btn">Create Account</a>
  {% endif %}
</section>
{% endblock content %}