<!-- account/templates/profile/profile.html -->
{% extends 'base.html' %}



{% block content %}

<h2>
    {{ profile.user.first_name }}, {{ profile.calc_age }}
</h2>
<b>Time:</b> {{ profile.proposal_time }}
<br>
<b>Place:</b> {{ profile.proposal_location }}
<p><img src="{{ profile.photo.url }}" width="250px"></p>
<br>
<b>Occupation:</b> {{ profile.occupation }}
<br>
<b>About me:</b> {{ profile.about_me }}
<br>
<b>Gender Identity: </b> {{ profile.gender_identity }}
<br>
<b>Sexual Orientation: </b> {{ profile.sexual_orientation }}
<br>
<br>
<form method="post">
  {% csrf_token %}
  <div class="buttons has-addons">
  <!-- {% if profile in user.profile.likes.all %}
      <button class="button is-success is-static">Like</button>
      <button class="button is-danger" name="like" value="hide">
          Hide
      </button>
  {% else %}
      <button class="button is-success" name="like" value="like">
          Like
      </button>
      <button class="button is-danger is-static">Hide</button>
  {% endif %} -->
  <button class="button is-success" name="like" value="like">Like</button>
    <button class="button is-danger" name="like" value="hide">Hide</button>
  </div>
</form>
<br>

<div class="block">
  <a href="{% url 'filter_profile_list' %}">
      <button class="button is-dark is-outlined is-fullwidth">
          All Profiles
      </button>
  </a>
</div>

<div class="block">
  <h3 class="title is-4">
      {{profile.user.username}} likes:
  </h3>
  <div class="content">
      <ul>
      {% for user_liked in profile.likes.all %}
          <li>
              <a href="#">
                  {{ user_liked }}
              </a>
          </li>
      {% endfor %}
      </ul>
  </div>
</div>

<div class="block">
  <h3 class="title is-4">
      {{profile.user.username}} hides:
  </h3>
  <div class="content">
      <ul>
      {% for user_hides in profile.hides.all %}
          <li>
              <a href="#">
                  {{ user_hides }}
              </a>
          </li>
      {% endfor %}
      </ul>
  </div>
</div>


<p>You can 
    <ul>
      <li> 
        <a href="{% url "edit" %}">Edit your profile</a>, or
      </li>
      <li> 
        <a href="{% url "preferences" pk=profile.user_id %}">Preview your preferences</a>
      </li>
    </ul>
{% endblock content %}