<!-- account/templates/profile/profile.html -->
{% extends 'base.html' %}



{% block content %}

<h2>
    {{ profile.user.first_name }}, {{ profile.calc_age }}
</h2>
<b>Time:</b> {{ profile.proposal_time }}
<br>
<b>Place:</b> {{ profile.proposal_location }}
<p><img src="{{ profile.photo.url }}" width="250px"></p>
<br>
<b>Occupation:</b> {{ profile.occupation }}
<br>
<b>About me:</b> {{ profile.about_me }}
<br>
<b>Gender Identity: </b> {{ profile.gender_identity }}
<br>
<b>Sexual Orientation: </b> {{ profile.sexual_orientation }}
<br>
<br>
<br>
<p>You can 
    <ul>
      <li> 
        <a href="{% url "edit" %}">Edit your profile</a>, or
      </li>
      <li> 
        <a href="{% url "preferences" pk=profile.user_id %}">Preview your preferences</a>
      </li>
    </ul>
{% endblock content %}